<div class="container" >
  <div class="row justify-content-around">
    <div class="card col-sm-5">
      <div class="row ">
        <div class="auto">
          <img src="./../../assets/certificate.svg" class="img-fluid" alt="" />
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title">Cертификационные центры</h4>
            <p class="card-text">
              Профессиональные услуги по сертификации в Казахстане
            </p>
            <p class="card-text">
              <small href="#" class="text-primary"
                >Узнать больше <span>&#8594;</span></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-sm-5">
      <div class="row ">
        <div class="auto">
          <img src="./../../assets/group.svg" class="img-fluid" alt="" />
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title">Обучение декларированию</h4>
            <p class="card-text">
              Программа обучения таможенному декларированию
            </p>
            <p class="card-text">
              <small href="#" class="text-primary"
                >Узнать больше <span>&#8594;</span></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-sm-5">
      <div class="row">
        <div class="auto">
          <img src="./../../assets/onec.svg" class="img-fluid" alt="" />
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title">Оприходование товаров</h4>
            <p class="card-text">
              Сервис vsklad.kz: автоматическая загрузка данных по ГТД в
              бухгалтерию
            </p>
            <p class="card-text">
              <small href="#" class="text-primary"
                >Узнать больше <span>&#8594;</span></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-sm-5">
      <div class="row">
        <div class="auto">
          <img src="./../../assets/person.svg" class="img-fluid" alt="" />
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title">Самостоятельное декларирование</h4>
            <p class="card-text">
              Программа D-Sector TS <br />
              Формирование таможенных деклараций
            </p>
            <p class="card-text">
              <small href="#" class="text-primary"
                >Узнать больше <span>&#8594;</span></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-sm-5">
      <div class="row">
        <div class="auto">
          <img src="./../../assets/table.svg" class="img-fluid" alt="" />
        </div>
        <div class="col">
          <div class="card-block px-2">
            <h4 class="card-title">Обработка ТН ВЭД в таблицах Excel</h4>
            <p class="card-text">Cкачать программу Sector-ВЭД ТС</p>
            <p class="card-text">
              <small href="#" class="text-primary"
                >Узнать больше <span>&#8594;</span></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border-white col-sm-5"></div>
  </div>
</div>



