<ul class="nav nav-tabs justify-content-center">
  <img class="logo" src="./../../assets/logo.svg" />
  <li class="nav-item" id="search">
    <a class="nav-link active" routerLink="/home">
      <mat-icon class="example-tab-icon"
        ><img src="./../../assets/search.svg"
      /></mat-icon>
      Поиск</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link"
      ><mat-icon class="example-tab-icon"
        ><img src="./../../assets/tree.svg"
      /></mat-icon>
      Дерево ТН ВЭД</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <mat-icon class="example-tab-icon"
        ><img src="./../../assets/info.svg"
      /></mat-icon>
      Пояснения</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link ">
      <mat-icon class="example-tab-icon"
        ><img src="./../../assets/extra-info.svg"
      /></mat-icon>
      Справка</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link ">
      <mat-icon class="example-tab-icon"
        ><img src="./../../assets/clock.svg"
      /></mat-icon>
      Перечень изъятий ВТО</a
    >
  </li>
</ul>
