.example-tab-icon {
  margin-bottom: 8px;
  cursor: pointer;
  color: #2a314b;
}
.nav {
  background-color: #fbfbfb;
  font-family: "Montserrat" regular;
  font-size: 14px !important;
  height: 72px;
  min-width: 111px;
}
.nav-item {
  margin-top: 23px;
  cursor: pointer;
  color: #2a314b;
  height: 49px !important;
}

.nav-link {
  height: 49px !important;
}

.logo {
  height: 35.85px;
  width: 83.47pxpx;
  margin-top: 32px;
}

#search {
  margin-left: 30px;
}
.a {
  height: 18px;
}
