<app-toolbar></app-toolbar>

<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="heading">Введите ключевые слова или код товара</div>
  <br />
  <div class="input-group mb-3 search">
    <div class="input-group-prepend">
      <span class="input-group-text">150</span>
    </div>
    <input matInput type="text" class="form-control" />
    <div class="input-group-append">
      <span class="input-group-text searchAppend"
        ><img class="inputSearch" src="./../../assets/inputsearch.svg"
      /></span>
    </div>
  </div>
  <br />
  <div class="limit">К сожалению, вы исчерпали лимит, зайдите к нам завтра</div>
  <br />
  <div class="sub-limit">или узнайте больше о наших предложениях</div>
  <app-table style="margin-top: 120px"></app-table>
  <div style="margin-top: 60px" class="sub-limit">
    Подробнее с ценами и пакетами программ можно ознакомиться
    <span class="text-primary">по ссылке</span>
  </div>

  <div class="devider"></div>
  <app-form></app-form>
  <mat-divider></mat-divider>

<app-footer styles="margin-top: 81px;"></app-footer>
</div>



<div class="navbar navbar-default navbar-fixed-bottom ">
    <p class="navbar-text">© 2018, ТОО “Sector-3”. Все права защищены.</p>
  </div>