.main-container {
  font-family: "Montserrat" medium;
  margin-top: 72px;
}
.heading {
  margin-top: 184px;
  font-size: 22px;
  color: #293553;
}
.search {
  max-width: 950px;
}
.input-group-text {
  background-color: #fbfbfb;
}
.searchAppend {
  background-color: #0b7bff;
  width: 71px;
}
.matInput {
  max-width: 808px;
}
.inputSearch {
  margin-left: 14px;
  width: 20px;
}
.limit {
  color: #ff5a60;
  font-size: 18px;
}
.sub-limit {
  color: #737573;
  font-size: 14px;
}
.mat-divider {
  margin-top: 69px;
}
.devider {
  margin-top: 100px;
}
.navbar{
  height: 63px;
  background-color: #F8F9FA;
  margin-top:23px;
  justify-content: center;
  align-content: center;
}
.navbar-text {
  padding-top: 23px;
  font-size: 14px;
}