<table class="table table-bordered">
  <thead>
    <tr>
      <th class="border-top-0 "></th>
      <th style="width: 22%" scope="col">Бесплатная</th>
      <th style="width: 22%" scope="col">Базовая</th>
      <th style="width: 22%" class="border-speacial" scope="col">
        Расширенная
      </th>
      <div id="cloud1"><img class = "cloud" src="./../../assets/cloud1.svg" /></div>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="header" colspan="4" scope="row">Функции</th>
    </tr>
    <tr>
      <td class="firstColumn">Поиск кодов ТНВЭД</td>
      <td>25</td>
      <td>500</td>
      <td>1000</td>
    </tr>
    <tr>
      <td class="firstColumn">Справка по товару</td>
      <td>25</td>
      <td>500</td>
      <td>1000</td>
    </tr>
    <div id="cloud3"><img src="./../../assets/cloud2.svg" /></div>
    <tr>
      <td class="firstColumn">Перечень изъятий ВТО</td>
      <td>25</td>
      <td>500</td>
      <td>1000</td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th class="header" colspan="4" scope="row">Возможности</th>
    </tr>

    <tr>
      <td class="firstColumn">Веб интерфейс</td>
      <td><img src="./../../assets/tick.svg" /></td>
      <td><img src="./../../assets/tick.svg" /></td>

      <td><img src="./../../assets/tick.svg" /></td>
      <div id="cloud2"><img class ="cloud" src="./../../assets/cloud2.svg" /></div>
    </tr>

    <tr>
      <td class="firstColumn">Интеграция в программы</td>
      <td><img src="./../../assets/lock.svg" /></td>
      <td><img src="./../../assets/tick.svg" /></td>
      <td><img src="./../../assets/tick.svg" /></td>
    </tr>
    <tr>
      <td class="firstColumn">API</td>
      <td><img src="./../../assets/lock.svg" /></td>
      <td><img src="./../../assets/lock.svg" /></td>
      <td><img src="./../../assets/tick.svg" /></td>
    </tr>
    <tr>
      <td class="firstColumn">Интеграция в Ваши системы</td>
      <td><img src="./../../assets/lock.svg" /></td>
      <td><img src="./../../assets/lock.svg" /></td>
      <td><img src="./../../assets/tick.svg" /></td>
    </tr>
    <tr>
      <td class="border-bottom-0 corner "></td>
      <td class="border-bottom-0 "></td>
      <td>
        <button type="button" class="btn btn-primary">Узнать больше</button>
      </td>
      <td>
        <button type="button" class="btn btn-primary">Отправить запрос</button>
      </td>
    </tr>
  </thead>
</table>
