

.container{
  margin-top:81px;

  }
  .row{
    margin-left: -155px;
  }
  .logo-img{
    width: 142px;
    height: 53px;
    margin-top: 2px;
  }

  .card-title{
    font-size: 18px;
  }
  .card-text{
    font-size: 14px;
  }
  .text-center{
    height: 63px;
    background-color: #F8F9FA;
    margin-top:23px;
  }
  .company{
    margin-top:23px;
  }



.contact-info{
  margin-bottom: 126px;
}