<div class="container">
  <div class="row">
    <div class="col-sm-3 py-2">
      <div class="card card-body h-100 border-white">
        <img src="./../../assets/sector.svg" class="logo-img" />
      </div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 border-white">
        <div class="card-body">
          <p class="card-title">ТН ВЭД Инфо</p>
          <p class="card-text text-muted">Скачать</p>
          <p class="card-text text-muted">Правила использования</p>
          <p class="card-text text-muted">Предварительное решение</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 border-white">
        <div class="card-body">
          <p class="card-title">Продукты</p>
          <p class="card-text text-muted">D-Sector</p>
          <p class="card-text text-muted">Sector-ВЭД ТС</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 border-white">
        <div class="card-body">
          <p class="card-title">Сервисы</p>
          <p class="card-text text-muted">Сервис Всклад</p>
          <p class="card-text text-muted">Определитель кодов ТНВЭД</p>
          <p class="card-text text-muted">Эл. документооборот Сайдокум</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 card-body border-white"></div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 card-body border-white"></div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 border-white">
        <div class="card-body">
          <p class="card-title">Компания</p>
          <p class="card-text text-muted">Учебный курс</p>
          <p class="card-text text-muted">Новости</p>
          <p class="card-text text-muted">Документы</p>
          <p class="card-text text-muted">Объявления</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 py-2">
      <div class="card h-100 border-white">
        <div class="card-body">
          <p class="card-title">Ресурсы</p>
          <p class="card-text text-muted">Поддержка</p>
          <p class="card-text text-muted">Полезные ссылки</p>
          <p class="card-text text-muted">Заявка на тех. обслуживание</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container contact-info">
  <div class="row">
    <div class="company-info col-6" fxLayout="row">
      <div class="contacts col-5">Контактная информация</div>
      <div class="phone col-4">
        <img src="./../../assets/smallphone.svg" /> +7 727 391 00 39
      </div>
      <div class="phone col-4">
        <img src="./../../assets/envelope.svg" /> sector@sector.kz
      </div>
    </div>
    <div class="ml-auto " fxLayout="row">
      <div class="contacts col-4"><img src="./../../assets/twitter.svg" /></div>
      <div class="contacts col-4">
        <img src="./../../assets/facebook.svg" />
      </div>
      <div class="contacts col-4"><img src="./../../assets/youtube.svg" /></div>
    </div>
  </div>
</div>

